

        <link rel = "stylesheet" href="http://localhost/Master-php/PROYECTO/assets/css/indexcss.css">
    

        <div id="container">
            <!-- CABECERA -->
            <header id="header">
                <div id = "logo">
                         <link rel = "stylesheet" href="http://localhost/Master-php/PROYECTO/assets/css/indexcss.css">
                    <img src = "http://localhost/Master-php/PROYECTO/assets/img/SicUTP.png" alt="Logo Investigacion Utp"/> 
                    <a href="index.php">Sistema de Control de Invetario </a>
                </div>
                <nav id="menu">
                <ul>
                    <li>
                        <a href="index.php">Home</a>
                    </li>
                    <li>
                        <a href="http://localhost/Master-php/Proyecto/Vistas/Equipos/Inventario.php">Inventario</a>
                    </li>
                    <li>
                       <button type = "button"
                       onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                       Cerrar Sesión           
                       </button>
                       
                       <link rel = "stylesheet" href="assets/css/popcss.css">
                    </li>
                </ul>
            </nav>                
 