
#tabla tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}
#tabla tr:hover {
    background-color: #ccc;
}
#tabla th {
    background-color:  #eee;
    border-top: 1px solid black;
}

#tabla th,  #tabla td {
    padding: 3px 5px;
}

#tabla td {
    padding: 3px 5px;
}

#tabla td:hover {
    cursor: pointer;
}

#tabla #oculto{
    display: none;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: black;
}
.manageMember{
    text-align: center;
}

#tabla{
    margin: 0 auto;
    width: 50%;
}


