#tabla {
  margin:auto;
  
    border: 1px solid black;
}

#tabla td, #tabla th {
 

  border: 1px solid black;
  border-color: black;

}



#tabla tr:hover {background-color: #ddd;}

#tabla th {
  padding-top: 22px;
  padding-bottom: 28px;
  padding-left: 34px;
  padding-right: 34px;
  text-align: center;
  background-color: #2a479e;
  color: black;
   border: 1px solid black;
   
  
}

.alinear{
    
  
 
   
   display: flex;
  justify-content: space-between;
   


}



